@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// COLORS
$Red: #ff7a7a;
$Green: #38cc8c;
$Blue: #6055a5;
$Dark_Blue: #3e3c49;
$Grayish_Blue: #b9b6d3;

// TYPOGRAPHY
$font_size: 16px;
$font_family: "Poppins", sans-serif;

// MIXINS
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

body {
  font-family: $font_family;
  font-size: $font_size;
  max-width: 375px;
  background: $Red url(../images/bg-intro-mobile.png) no-repeat fixed 100%;
  background-size: cover;
  @include flex();
  flex-direction: column;
  height: 100vh;
}

main {
  margin: 1.5rem;
}

.top {
  text-align: center;
  h1 {
      font-weight: 600;
    color: white;
  }
  p {
    line-height: 1.5rem;
    color: rgb(235, 235, 235);
  }
}

.bottom {
  @include flex();
  .trail {
    color: white;
    background-color: $Blue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    @include flex();

    p {
      width: 74%;
    }
  }
}
